.form{
  display: flex;
  justify-content: space-between;
}

.add-item {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  gap: .3rem;

  padding: 1rem;
}

.add-item input::placeholder {
  color: #8A8A8A;
  font-size: .55rem;
  text-align: center;
}

 .button {
  background: #4574E3;
  border: none;
  border-radius: .4rem;
  box-shadow: 2px 2px 2px #00000050;
  color: white;
  font-size: .7rem;
  padding: .4rem;
}

.title-listh3 {
  margin-top: 8px;
  font-family: 'Mansalva', sans-serif;
  color: #4574E3;
}


.button:disabled {
  background: #4574e377;

}

.card {
  /* display: grid;
  grid-template-areas: "imagem info-card botao-fechar" "sinopse sinopse sinopse"; */
  grid-row-gap: 1rem;
  min-height: 18rem;
  margin-top: 60px;
  max-height: 100%;
  width: 22rem;
  grid-template-columns: 1fr 3fr 20px;
  grid-template-rows: min-content;
  border-radius: 8px;
  background: #fff;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 25%;
  padding: 24px;
  z-index: 11;
}

.titulo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #6C63FF;
  padding-top: 16px;
}

.informacoes {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #8B8B8B;
  padding-bottom: 4px;
}

.resultado {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8B8B8B;
  padding-bottom: 8px;
  text-align:justify;
}

.detalhes {
  background: #6C63FF;
  width: 9rem;
  height: 2.5rem;
  border-radius: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}



.fechar-modal ,.btn-modal-salvar{
  text-align: end;
}

.imagem {
  height: 18rem;
  grid-area: imagem;
  padding-top: 1rem;
}

.sinopse {
  grid-area: sinopse;
  padding-bottom: 0;
}

.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.botao-fechar {
  width: 24px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  border: none;
  color: #444444;
  opacity: 0.5;
  cursor: pointer;
  background: none;
  grid-area: botao-fechar;
  margin-top: 0.5rem;
}

/* .input-text{
  width: 100%;
  border: none;
  border-radius: .4rem;
  box-shadow: 2px 2px 2px #00000050;
  padding: .5rem;
  margin-bottom: 10px;

} */
.detalhes:hover {
  background: #050C42;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-text {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.input-text:focus {
  border-color: #2196F3;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #888;
  padding: 10px;
  pointer-events: none;
  transition: top 0.3s, left 0.3s, font-size 0.3s, color 0.3s;
}

.input-text:focus + label,
.input-text:not(:placeholder-shown) + label {
  top: -18px;
  left: 0;
  font-size: 12px;
  color: #2196F3;
}

.input-text:hover{
  border: none;
}

.input-text:focus,
.input-text:active {
  outline: none;
}

#quantidadeInput + label {
  top: -18px;
  left: 153px;
}

.input-container div select option {
  padding: 10px;
  border: none !important;
  font-size: 12px;
  font-weight: 600;
  color: #b5b5b5;
  cursor: pointer;
  border-radius: 20px !important;
  transition: background-color 1.9s ease-in-out, color 1.9s ease-in-out;
}

.input-text select option:hover {
  background-color: #e0e0e0;
  border: none;
}

.input-text select option:checked {
  background-color: #2195f359;
  color: white;
}

